<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <form id="new-form">
      <input type = "text" class = "new-todo" placeholder="Add a task" />
    </form> 
  </header>
  <section class="main">
    <ul class="todo-list">

    </ul>
  </section>
</section>

<section class = "author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %> application, built by <%= link_to "Sherzel Williams", "https://github.com/snsmith92"%>
</section>