<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <form id="new-form">
      <input type = "text" class = "new-todo" />
    </form> 
  </header>
  <section class="main">
    <ul class="todo-list">

    </ul>
  </section>
</section>